# Question 1

In [21]:
#i. 
X = 'Akash Nigam is studying Data Science'
#ii. 
Y = ['Akash', 267, True, 45.09]
#iii. 
Z = 45.09
#iv. 
A = (1, "two", 3.0)

# Question 2

i. String
ii. String
iii. List
iv. Integer

# Question 3

(i) The / operator is used for division. For example, if we have two variables a and b, we can divide them using the / operator as follows: 

a = 10
b = 2
c = a / b
print(c) # Output: 5.0

(ii) The % operator is used for modulus or remainder. It returns the remainder of the division of two numbers. For example:

a = 10
b = 3
c = a % b
print(c) # Output: 1

(iii) The // operator is used for floor division. It returns the quotient of the division, rounded down to the nearest integer. For example:

a = 10
b = 3
c = a // b
print(c) # Output: 3

(iv) The ** operator is used for exponentiation. It raises the first operand to the power of the second operand. For example:

a = 2
b = 3
c = a ** b
print(c) # Output: 8

# Question 4

In [30]:
X = ['Akash', "Nigam", 45.32, 35.84, True, 623534523, False, ('Akash', 'is', 'best'), 'Data Science', 54234]
for i in X:
    print(f'{i} is of type {type(i)}')

Akash is of type <class 'str'>
Nigam is of type <class 'str'>
45.32 is of type <class 'float'>
35.84 is of type <class 'float'>
True is of type <class 'bool'>
623534523 is of type <class 'int'>
False is of type <class 'bool'>
('Akash', 'is', 'best') is of type <class 'tuple'>
Data Science is of type <class 'str'>
54234 is of type <class 'int'>

# Question 5

In [31]:
A = 36
B = 6

count = 0

while A % B == 0:
    count += 1
    A = A / B

if count > 0:
    print("Number A is purely divisible by number B ", count, " times.")
else:
    print("Number A is not purely divisible by number B.")

Number A is purely divisible by number B  2  times.

# Question 6

In [32]:
numbers = list(range(1, 26))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [34]:
for n in numbers:
    if n % 3 == 0:
        print(f'Number {n} is divisible by 3')
    else:
        print(f'Number {n} is not divisible by 3')

Number 1 is not divisible by 3
Number 2 is not divisible by 3
Number 3 is divisible by 3
Number 4 is not divisible by 3
Number 5 is not divisible by 3
Number 6 is divisible by 3
Number 7 is not divisible by 3
Number 8 is not divisible by 3
Number 9 is divisible by 3
Number 10 is not divisible by 3
Number 11 is not divisible by 3
Number 12 is divisible by 3
Number 13 is not divisible by 3
Number 14 is not divisible by 3
Number 15 is divisible by 3
Number 16 is not divisible by 3
Number 17 is not divisible by 3
Number 18 is divisible by 3
Number 19 is not divisible by 3
Number 20 is not divisible by 3
Number 21 is divisible by 3
Number 22 is not divisible by 3
Number 23 is not divisible by 3
Number 24 is divisible by 3
Number 25 is not divisible by 3

# Question 7

 1. Mutable: A mutable data type is one that can be modified or altered. This means that you can change its value or properties even after it has been created. For example, X = [ 25, 345, 'Akash']
 2. Immutable: An immutable data type is one that cannot be changed once it is created. This means that its value or properties are fixed. For example Y = 'Akash Nigam'